/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

body{
    background: #f1c40f;
}

header, footer{
    background: #0b82c1;
}

h1{
    text-align: center;
    color: white;
}

p{
    color: whitesmoke;
    font-style: italic;
}

img{
    border: solid black 10px;
    max-width: 50%;
    height: 50%;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
}

